
{% extends "./base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}

        <!-- Form -->
        <div class="card shadow-sm p-4 mb-4">
            <div class="d-flex justify-content-center">
                <form method="post" class="w-100">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
        </div>
        
        <!-- Weight Graph -->
        <div class="card shadow-sm p-4 mb-4">
            <h2 class="text-center">Weight Trend</h2>

            <br>

            <!-- button to change months -->
            <div class="d-flex justify-content-between mb-3">
                <a href="?month={{ prev_month }}" class="btn btn-outline-primary">&nbsp;<&nbsp;</a>
                <h3>{{ selected_month }}</h3>
                <a href="?month={{ next_month }}" class="btn btn-outline-primary">&nbsp;>&nbsp;</a>
            </div>

            <!-- Graph -->
            <div class="chart-container">
                <div class="chart-wrapper">
                    <canvas id="weightChart"></canvas>
                </div>
            </div>

        </div>

        <!-- Temperature Graph -->
        <div class="card shadow-sm p-4 mb-4">
            <h2 class="text-center">Temperature Trend</h2>

            <br>
            
            <!-- button to change months -->
            <div class="d-flex justify-content-between mb-3">
                <a href="?month={{ prev_month }}" class="btn btn-outline-primary">&nbsp;<&nbsp;</a>
                <h3>{{ selected_month }}</h3>
                <a href="?month={{ next_month }}" class="btn btn-outline-primary">&nbsp;>&nbsp;</a>
            </div>

            <!-- Graph -->
            <div class="chart-container">
                <div class="chart-wrapper">
                    <canvas id="tempChart"></canvas>
                </div>
            </div>
            
        </div>

    <script>

        // input form today's date
        document.addEventListener("DOMContentLoaded", function() {
            let today = new Date().toISOString().split('T')[0];
            let dateInput = document.getElementById("id_date");
            if (dateInput.value === "") {
                dateInput.value = today;
            }
        });

        // Weight Graph
        document.addEventListener("DOMContentLoaded", function () {
            const ctx = document.getElementById('weightChart').getContext('2d');
            
            const labels = JSON.parse('{{ dates|escapejs }}');
            const weights = JSON.parse('{{ weights|escapejs }}');

            const getPointRadius = () => window.innerWidth < 600 ? 3 : 5;

            const weightChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Weight (kg)',
                        data: weights,
                        borderColor: 'rgb(255, 99, 132)',
                        backgroundColor: 'rgb(255, 99, 132, 0.2)',
                        borderWidth: 2,
                        pointRadius: getPointRadius(),
                        pointBackgroundColor: 'rgb(255, 99, 132)',
                        pointBorderColor: 'rgb(255, 99,132)',
                        spanGaps: true
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    aspectRatio: 2,
                    scales: {
                        x: {
                            title: { display: true, text: 'Date' },
                            ticks: {
                                font: { size: window.innerWidth < 600 ? 10 : 14 },
                                autoSkip: false,
                                maxTicksLimit: 31
                            }
                        },
                        y: {
                            title: { display: true, text: 'Weight (kg)' },
                            min: 50, // min 50kg
                            max: 57, // max 70kg
                            ticks: {
                                font: { size: window.innerWidth < 600 ? 10 : 14 },
                                stepSize: 1 //every 1kg
                            }
                        }
                    },
                    plugins: {
                        tooltip: { enabled: true },
                        legend: {
                            labels: {
                                font: { size: window.innerWidth < 600 ? 10 : 14 }
                            }
                        }
                    }
                }
            });
        });
       
        // Dot size updates when screen size changes.
        window.addEventListener("resize", () => {
            weightChart.data.datasets[0].pointRadius = getPointRadius();
            weightChart.update();
        }); 

        // Temperature Graph
        document.addEventListener("DOMContentLoaded", function () {
            const ctx = document.getElementById('tempChart').getContext('2d');
            
            const labels = JSON.parse('{{ dates|escapejs }}');
            const temperatures = JSON.parse('{{ temperatures|escapejs }}');
            const periodDays = JSON.parse('{{ period_days|escapejs }}');

            const getPointRadius = () => window.innerWidth < 600 ? 3 : 5;

            const tempChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Temperature (°C)',
                        data: temperatures,
                        borderColor: 'rgb(54, 162, 235)',
                        backgroundColor: 'rgb(54, 162, 235, 0.2)',
                        borderWidth: 2,
                        pointRadius: getPointRadius(),
                        pointBackgroundColor: function(context) {
                            const index = context.dataIndex;
                            const date = labels[index];
                            return periodDays.some(pd => pd.endsWith(`-${date}`)) ? 'rgb(255, 99, 132)' : 'rgb(54, 162, 235)';
                        },
                        pointBorderColor: function(context) {
                            const index = context.dataIndex;
                            const date = labels[index];
                            return periodDays.some(pd => pd.endsWith(`-${date}`)) ? 'rgb(255, 99, 132)' : 'rgb(54, 162, 235)';
                        },
                        spanGaps: true
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    aspectRatio: 2,
                    scales: {
                        x: {
                            title: { display: true, text: 'Date' },
                            ticks: {
                                font: { size: window.innerWidth < 600 ? 10 : 14 },
                                autoSkip: false,
                                maxTicksLimit: 31,
                                callback: function(value, index, values) {
                                    const date = labels[index];
                                    return periodDays.some(pd => pd.endsWith(`-${date}`))
                                        ? [date, "🌸"]
                                        :date;
                                }
                            }
                        },
                        y: {
                            title: { display: true, text: 'Temperature (°C)' },
                            min: 35.5, // min 35°C
                            max: 37, // max 38°C
                            ticks: { 
                                font: { size: window.innerWidth < 600 ? 10 : 14 },
                                stepSize: 0.1
                            }
                        }
                    },
                    plugins: {
                        tooltip: { enabled: true },
                        legend: {
                            labels: {
                                font: { size: window.innerWidth < 600 ? 10 : 14 }
                            }
                        }
                    }
                }
            });

            // Dot size updates when screen size changes.
            window.addEventListener("resize", () => {
            weightChart.data.datasets[0].pointRadius = getPointRadius();
            weightChart.update();
            });
        });

    </script>

{% endblock %}